.loader {
  width: 240px;
  height: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

.loader-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

header {
  background-color: #282628;
  text-align: center;
  padding: 20px 0;
}

.padded-boxes {
    display:flex;
    flex-wrap:wrap;
    gap: 1px;
    margin: 0 auto;
    justify-content: center;
}

.padded-boxes > * {
    width:100%;
    background:#595358;
    text-align: center;
    border-radius:.2rem;
}

.padded-boxes .heading {
    background:#a4ac96;
    color:#1c1b1c;
    text-align: center;
    margin:0;
    padding:1rem;
    border-top-left-radius:.2rem;
    border-top-right-radius:.2rem;
}

.padded-boxes .padded {
    padding:.1rem 1rem;
}



@media (min-width:200px) {
    .padded-boxes > * {
        width:calc((100% - 4rem) / 3);
    }
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #a4ac96;
  height: 100px;
  padding: 50px 0;
}

hr {
  border: none;
  border-top: 1px solid #282628;
  margin: 10px 0;
}

h1 {
  color: #a4ac96;
  margin: 10px 0;
}

body {
background-color: #282628;
}

a {
  color: #1c1b1c;
  text-decoration: none;

}

p {
  color: #1c1b1c;
  margin: 10px 0;
  font-family: 'Simonetta Italic', serif;
  font-size: 150%;
  font-weight: 600;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #a4ac96;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button img {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

@font-face {
  font-family: Eagle Lake; 
  src: url(risorse/base/fonts/EagleLake/EagleLake-Regular.ttf);
}

@font-face {
  font-family: Simonetta Regular; 
  src: url(risorse/base/fonts/Simonetta/Simonetta-Regular.ttf);
}

@font-face {
  font-family: Simonetta BlackItalic; 
  src: url(risorse/base/fonts/Simonetta/Simonetta-BlackItalic.ttf);
}

@font-face {
  font-family: Simonetta Black; 
  src: url(risorse/base/fonts/Simonetta/Simonetta-Black.ttf);
}

@font-face {
  font-family: Simonetta Italic; 
  src: url(risorse/base/fonts/Simonetta/Simonetta-Italic.ttf);
}